<h1 class="text-red-800 text-5xl mb-3">Status Checker Jobs</h1>

<div class="w-full md:w-5/6 mx-auto p-8">
  <div class="shadow-md">
    {{#each jobs}}
    <div class="tab w-full overflow-hidden border-t">
      <input class="absolute opacity-0 " id="tab-{{this.id}}" type="checkbox" name="tabs">
      <label class="block p-5 leading-normal cursor-pointer" for="tab-{{this.id}}">
        {{#if this.failingSince}}
        <img src="images/close-box.png" alt="not ok" class="inline">
        {{else}}
        <img src="images/checkbox-marked.png" alt="ok" class="inline">
        {{/if}}
        {{this.name}}
      </label>
      <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
        <p class="p-5">{{> job job=this}}</p>
      </div>
    </div>
    {{/each}}

    <script>
      /* Optional Javascript to close the radio button version by clicking it again */
      var myRadios = document.getElementsByName('tabs2');
      var setCheck;
      var x = 0;
      for (x = 0; x < myRadios.length; x++) {
        myRadios[x].onclick = function () {
          if (setCheck != this) {
            setCheck = this;
          } else {
            this.checked = false;
            setCheck = null;
          }
        };
      }
    </script>